  <main class="container main" role="main">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="row feature">



          <h2 class="subtitle">ニュース一覧</h2>

          <section class="col-xs-12 col-sm-4 feature-block">
            <a href="sample.html">
              <div class="row">
                <p class="col-xs-5 col-sm-12 featureblock-thumbnail"><%= image_tag 'image1.jpg' %></p>
                <h3 class="col-xs-7 col-sm-12 featureblock-title">COMPANY<span>会社概要</span></h3>
              </div>
            </a>
          </section>
          <section class="col-xs-12 col-sm-4 col-sm-4 feature-block">
            <a href="sample.html">
              <div class="row">
                <p class="col-xs-5 col-sm-12  featureblock-thumbnail"><%= image_tag 'image1.jpg' %></p>
                <h3 class="col-xs-7 col-sm-12 featureblock-title">BUSINESS<span>事業紹介</span></h3>
              </div>
            </a>
          </section>
          <section class="col-xs-12 col-sm-4 feature-block">
            <a href="sample.html">
              <div class="row">
                <p class="col-xs-5 col-sm-12  featureblock-thumbnail"><%= image_tag 'image1.jpg' %></p>
                <h3 class="col-xs-7 col-sm-12 featureblock-title">RECRUIT<span>採用情報</span></h3>
              </div>
            </a>
          </section>
        </div>

      </div>
    </div>
  </main>