  <main class="container main" role="main">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="row feature">
        <section class="row">
          <ul class="thumb-block col-xs-12">
            <li class="clearfix">
              <div class="pull-left col-xs-12 col-sm-5"><%= image_tag 'image1.jpg' %></div>
              <div class="pull-left col-xs-12 col-sm-7">
                <h3>キャッチコピーが入ります</h3>
                <p>ハイクオリティで洗練されたデザイン、ユーザーの心をつかむ機能、そして安心のカスタマーサポート。
                  <br>一度お試しいただければ、その良さをきっとご理解いただけます。</p>
                <a href="sample.html">
                  <button type="button" class="btn btn-primary" aria-label="Right Align">詳しく見る<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                </a>
              </div>
            </li>
          </ul>
        </section>
        <section>
          <h2 class="subtitle">作品一覧</h2>
          <div>
            <ul class="row thumb-box">
              <li class="col-xs-12 col-sm-4">
                <a href="sample.html">
                  <section>
                    <div><%= image_tag 'image1.jpg' %></div>
                    <h3>無料相談会を実施いたします</h3>
                    <p>コンテンツがここに入ります。コンテンツがここに入ります。コンテンツがここに入ります。コンテンツ…</p>
                  </section>
                </a>
              </li>
              <li class="col-xs-12 col-sm-4">
                <a href="sample.html">
                  <section>
                    <div><%= image_tag 'image1.jpg' %></div>
                    <h3>無料相談会を実施いたします</h3>
                    <p>コンテンツがここに入ります。コンテンツがここに入ります。コンテンツがここに入ります。コンテンツ…</p>
                  </section>
               </a>
              </li>
              <li class="col-xs-12 col-sm-4">
                <a href="sample.html">
                  <section>
                    <div><%= image_tag 'image1.jpg' %></div>
                    <h3>無料相談会を実施いたします</h3>
                    <p>コンテンツがここに入ります。コンテンツがここに入ります。コンテンツがここに入ります。コンテンツ…</p>
                  </section>
                </a>
              </li>
            </ul>
          </div>
        </section>


          <h2 class="subtitle">作品一覧</h2>

          <section class="col-xs-12 col-sm-4 feature-block">
            <a href="sample.html">
              <div class="row">
                <p class="col-xs-5 col-sm-12 featureblock-thumbnail"><img src="images/image1.jpg" alt="サンプル画像1" class="img-responsive"></p>
                <h3 class="col-xs-7 col-sm-12 featureblock-title">COMPANY<span>会社概要</span></h3>
              </div>
            </a>
          </section>
          <section class="col-xs-12 col-sm-4 col-sm-4 feature-block">
            <a href="sample.html">
              <div class="row">
                <p class="col-xs-5 col-sm-12  featureblock-thumbnail"><img src="images/image1.jpg" alt="サンプル画像2" class="img-responsive"></p>
                <h3 class="col-xs-7 col-sm-12 featureblock-title">BUSINESS<span>事業紹介</span></h3>
              </div>
            </a>
          </section>
          <section class="col-xs-12 col-sm-4 feature-block">
            <a href="sample.html">
              <div class="row">
                <p class="col-xs-5 col-sm-12  featureblock-thumbnail"><img src="images/image1.jpg" alt="サンプル画像3" class="img-responsive"></p>
                <h3 class="col-xs-7 col-sm-12 featureblock-title">RECRUIT<span>採用情報</span></h3>
              </div>
            </a>
          </section>
        </div>

      </div>
    </div>
  </main>