  <div class="btn-pagetop">
    <div class="container">
      <a href="#pageTop" class="center-block text-center"><i class="glyphicon glyphicon-chevron-up center-block"></i></a>
    </div>
  </div>
  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row footer-nav">
        <aside class="col-xs-12 col-sm-6 col-md-3 col-md-push-3">
          <h3 class="footernav-title"><strong class="glyphicon glyphicon-chevron-down">SERVICE</strong></h3>
          <div class="list-group">
            <a href="sample.html">&#8811; サービスその1</a>
            <a href="sample.html">&#8811; サービスその2</a>
            <a href="sample.html">&#8811; サービスその3</a>
          </div>
        </aside>
        <aside class="col-xs-12 col-sm-6 col-md-3 col-md-push-3">
          <h3 class="footernav-title"><strong class="glyphicon glyphicon-chevron-down">PRODUCT</strong></h3>
          <div class="list-group">
            <a href="sample.html">&#8811; 製品その1</a>
            <a href="sample.html">&#8811; 製品その2</a>
            <a href="sample.html">&#8811; 製品その3</a>
          </div>
        </aside>
        <aside class="col-xs-12 col-sm-6 col-md-3 col-md-push-3">
          <h3 class="footernav-title"><strong class="glyphicon glyphicon-chevron-down">COMPANY</strong></h3>
          <div class="list-group">
            <a href="sample.html">&#8811; 会社概要</a>
            <a href="sample.html">&#8811; 事業紹介</a>
            <a href="sample.html">&#8811; 採用情報</a>
          </div>
        </aside>
        <div class="col-xs-12 col-sm-6 col-md-3 col-md-pull-9 footer-icon">
          <p class="footer-logo">
            <a href="index.html"><img src="images/logo.jpg" alt=""></a>
          </p>
        </div>
      </div>
      <div class="copyright">
        <small>Copyright &copy; Kid'Hack</small>
      </div>
    </div>
  </footer>